{% extends "main/base.html" %}
{% block content %}
<center>
        <h2>🤔 Me?</h2>
    </center>
    <p  style="text-align: center">
        I'm Alireza. A 20 y.o. undergraduate math major in <a href="https://en.wikipedia.org/wiki/University_of_Tehran">University of Tehran</a>.
        I love Numbers and Computers, Words and Dictionaries, Sounds and Music, Psyche and Philosphy and a bunch of other stuff. This is where I keep my school projects, share my opinions
        (coming soon) and store some of my not-so-private files.
        Cheers🥂.
    </p>
    <br>
    <center>
    <p>
        <strong>
        This website is a work-in-progress. Many things are ugly and broken. Sorry for that!
        </strong>
    </p>
    </center>
{% endblock content %}
